$light: #fff;
$primary-color: #CF9C46;
// $primary-color: #13b1cd;
$secondary-color: #257DCA;
$event-color: #bb522f;
$law-color: #b99769;
$black: #242424;
$border-color:#dedede;
$primary-font:'Montserrat', sans-serif;
$secondary-font:'Poppins', sans-serif;
$extra-font:'Hind', serif;